<!DOCTYPE html>
<html>
<head>
  <title>Red Tide Radar</title>
  <link rel="stylesheet" href="app.component.scss">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <div class = "news-link">
          <!-- navigation bar items -->
          <a class="nav-link" routerLink="/"
                 [style.display]="path == '' ? 'none' : 'inherit'">Home</a>
          <a class="nav-link" routerLink="/forum"
                 [style.display]="path == '' ? 'inherit' : 'none'">Forum</a>
    </div>
    <hr class = "hr1">
    <h1  href="index.html" ><span>RED TIDE</span> RADAR</h1>
    <p class = "ad"> Your main source about everything Red Tide!</p>
</header>

<router-outlet></router-outlet>

</body>
</html>



