<html>

<!--s
'Body' refers to anything between the footer and the header.
It has it's own special styling rules defined in the globals.css file to make sure everything
works smoothly.
-->
<div class="body">

  <div style="background-color: #f3eaea; color: black; text-decoration: bold;  border-bottom: 2px solid #791313; font-size: large; padding: 1%; font-style: bald;">
    <p>
      <b>Onshore winds bring red tide near the shore, please stay away from the shore.</b>
    </p>
  </div>

  <div class="columnContainer">

    <div class="column col1">

      <div style="background-color: #f3eaea; color: black; text-decoration: bold;  border: 2px solid #791313; font-size: large; padding: 1%; font-style: bald;">
        <p>
          <b><br/>
            TWITTER DATA PLACEHOLDER
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            Data visualization
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            end of placeholder
            <br/>
            <br/>
          </b>
        </p>
      </div>

      <div class="row" style="margin-top: 25px;">

        <div class="small-column first">
          <!-- youtube -->
          <app-youtube-display></app-youtube-display>
          <!-- youtube -->
        </div>

        <div class="small-column second">
          <br/>
          <h3 style="font-size: x-large; text-align: left;">
            <strong>Related Podcasts:</strong>
          </h3> <br/>
          <!-- spotify  -->
          <app-spotify-display></app-spotify-display>
          <!-- spotify -->
        </div>
      </div>
    </div>

    <div class="column col2">
      <h3>RELATED TWEETS:</h3>
      <br/>
      <div style="overflow-y: scroll; max-height: 70vh; border: 5px solid #657786; box-shadow: 10px 10px 8px #888888;">
        <!-- tweets -->
      <app-twitter-display></app-twitter-display>
        <!--
        <select>
          <option  *ngFor="let tweet of getTwitterData()" [value]="tweet">{{tweet.username}}</option>
        </select>
        <input type="hidden" #selection>-->

        <!-- tweets -->
      </div>
      <br/>

      <div>
        <div class="placeholderItem" style="text-align: center;">
          <br/>
          <h3 style="font-size: x-large; text-align: left;">
            <strong>Guidelines:</strong>
          </h3>
          <div style="font-size: x-large; background-color: #f3eaea; color: black; height: 360px;">
            <p><strong>[insert guidelines]</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br/>
</div>

<!-- Symptom Data -->
<div style="background-color: #f3eaea;
                    color: black;
                    text-decoration: bold;
                    font-size: large;
                    padding: 1%;
                    font-style: bald;
                    height: 150px;
                    margin: 1%;
                    bottom: 1px">
  <p>
    <app-symptoms-display></app-symptoms-display>
  </p>
</div>

<div style="background-color: #f3eaea;
                    color: black;
                    text-decoration: bold;
                    font-size: large;
                    padding: 1%;
                    font-style: bald;
                    height: 150px;
                    margin: 1%;
                    bottom: 1px">
  <p>
    <b>Sensor data here</b>
  </p>
</div>



<!-- FOOTER STARTS HERE -->
<div class="footer">
  <div>
    <div class="textContainer">
      Presented by JollyRanchers  |  2022
    </div>
  </div>
</div>
<!-- FOOTER ENDS HERE -->

</html>
