<h2 class = "date" *ngFor="let date of getLastUpdated()"> Last Updated on: {{date.date}}  At 12:00 AM.</h2>
<section class = "container-1">
  <hr class = "break">
  <div class= "twitter-container">
    <div class="twitter-title">
      <h2 class="twitteritle"> Live <span class="twitter-span">Tweets</span></h2>
      <p> Find out what people are saying about red tide on Twitter.</p>
    </div>
    <app-twitter-display></app-twitter-display>
  </div>
  <div class = "image-1">
    <app-youtube-display></app-youtube-display>
  </div>
</section>

<section class = "container-2">
  <h2 class = "title"> Graphical Representations of Data</h2>
  <p>We use all of the data <i>you</i> provide us when you make a post to show you where is Red Tide taking place.</p>
  <app-graphs></app-graphs>
</section>

<section class = "container-3">
  <hr class = "break">
  <div class = "podcastArea">
    <div>
      <h2 class = "podcastsTitle"> Listen to <span class="Spotify-span">Spotify</span> podcasts related to Red tide Right here: </h2>
      <p class="disclaimer"> Disclaimer: some podcasts that are not related to the ocean (false positives) might slip through our filters,
        we're working on getting rid of those!</p>
    </div>
    <app-spotify-display></app-spotify-display>
  </div>
  <div class = "symptomsGuidelines">
    <div class="symptomsGuidelinesHead">
      <h2 class = "symptomsGuidelinesTitle">Symptoms and Guidelines about Red Tide listed here:</h2>
      <p>[s] refers to source.</p>

      <p> These are the most common symptoms that multiple agencies have recognized, if you have any of these, please follow the guidelines presented under them:  </p>

    </div>
    <app-symptoms-display></app-symptoms-display>
  </div>

</section>
