<html>

<!--s
'Body' refers to anything between the footer and the header.
It has it's own special styling rules defined in the globals.css file to make sure everything
works smoothly.
-->
<div class="body">

  <div style="background-color: #f3eaea; color: black; text-decoration: bold;  border-bottom: 2px solid #791313; font-size: large; padding: 1%; font-style: bald;">
    <p>
      <b>Onshore winds bring red tide near the shore, please stay away from the shore.</b>
    </p>
  </div>

  <div class="columnContainer">


    <div class="column col1">

      <div style="margin: 10px;">
        <!-- graphs -->
        <app-graphs></app-graphs>
        <!-- graphs -->
      </div>

      <br/><br/><br/>

      <div style="margin-bottom: 30px">
        <!-- youtube -->
        <app-youtube-display></app-youtube-display>
        <!-- youtube -->
      </div>

      <br/>

      <h3 style="font-size: x-large; text-align: left; margin-top: 30px">
        <strong>Related Podcasts:</strong>
      </h3>
      <div style="margin-bottom: 30px; margin-top: 30px">
        <!-- spotify  -->
        <app-spotify-display></app-spotify-display>
        <!-- spotify -->
      </div>
      <br/>
    </div>


    <div class="column col2">
      <br/>
      <div style="overflow-y: scroll; max-height: 120vh; border: 5px solid #657786; border-radius: 2%; box-shadow: 10px 10px 8px #888888;">
        <br/>
        <h3>Related Tweets:</h3><br/>
        <!-- tweets -->
        <app-twitter-display></app-twitter-display>
        <!-- tweets -->
      </div>
      <br/>

      <div>
        <div class="placeholderItem" style="text-align: center;">
          <br/><br/>
          <h3 style="font-size: x-large; text-align: left;">
            <strong>Symptoms and Guidelines:</strong>
          </h3> <br/>
          <div style="color: black; height: 100%;">
            <app-symptoms-display></app-symptoms-display>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br/>
</div>
</html>
