
/* Author: Nisanur Genc*/
.body{
align-items: center;
  padding-left: 40px;
}


/* Style page content */
.main {
}

.textArea {
  box-shadow: 3px 3px 10px #654f7a;
}
.textEntry{
  width: 40%;
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}
.tagAddition{
  width: 50%;
  float: left;
}
.locationSelector{
  margin-bottom: 10px;
  margin-top: 10px;
  width: 50%;
  float: left;
  height: 50%;
}
.imageUpload{
  float: left;
}
.submitButton{
  float: right;
  padding-right: 100px;
}

/* Style of the error */
.reqError {
  color: #ff0000;
  font-weight: bold;
}

#submit {
  height: 40px;
  width: 150px;
  font-weight: bold;
  font-size: large;
  background-color: #8C001A;
  color: white;
  border-radius: 15px;
  box-shadow: 5px 5px 10px #654f7a;
}
.breakHor{
  display: block;
  margin-left: 50px;
  width: 94%;
  border-style: inset;
  border-width: 4px;
  color: black;
  background-color: black;

}

/* ------------ display posts -----------*/
section{
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 50px;
  font-family: "Roboto";
  width: 94%;
}

.card{
  background-color: #ffffff;
  box-shadow: 0 0 0.9375em rgb(103, 4, 4);
  width: 100%;
  height: 270px;
  border-radius: 4px;
  display: flex ;
}

.card_img{
  width: 250px;
  height: 250px;
  float: left;
  padding-left: 15px;
  padding-top: 15px;

}
.content{
  margin-left: 30px;
  margin-top: 15px;
  width: 70%;
}
.cardText{
  margin-bottom: 20px;
  height: 70%;
  width: 60%;
}

.locationText{
  float: bottom;
  width: 50%;
  height: 10%;

}

.likeButton{
  cursor: pointer;
  padding-top: 180px;
}
/* ------------ display posts -----------*/

