<body>
<!--s
'Body' refers to anything between the footer and the header.
It has it's own special styling rules defined in the globals.css file to make sure everything
works smoothly.
-->
<div class="body">

  <div class="form-bar">
    <div class="sidenav" style="border-right: 2px solid #791313;"><!-- sidebar -->
      <div class="reqInfo" style="margin: 20px">
        <!-- header for the form -->
        <h1 style="border-bottom: solid; border-color: #172C58; padding-bottom: 2px;">Create a post:</h1>
        <p style="color: #a3475e">* indicates required fields.</p><br/>

        <!-- form to be able to check fields if they are empty and be able to enter information -->
        <form id="postForm"   onsubmit="return checkReqFields()">
          <!-- input field for the text -->
          <strong>* Text: </strong><br/><br/>
          <textarea class="field" type="text" id="textArea" maxlength="300" minlength="1" rows="8" cols="50"
                    placeholder="Start typing here..." [(ngModel)]="textArea" [ngModelOptions]="{standalone: true}"
          ></textarea>
          <br/>
          <span id='charLimit'>Remaining characters: {{300-textArea.length}}</span>
          <br/><br/>
          <span id="reqtextArea" class="reqError"></span><br/> <!-- shows an error in case previous field is empty -->
          <br/><br/>
          <!-- input field for the location -->
          <strong>* Choose your location: </strong><br/><br/>
          <input class="field" list="locations" name="location" id="location" style="width: 100%"><br/><br/>
          <span id="reqLocation" class="reqError"></span><br/> <!-- shows an error in case previous field is empty -->
          <datalist id="locations">
            <option value="Miami-Dade County">
            <option value="Broward County">
            <option value="Palm Beach County">
            <option value="Hillsborough County">
            <option value="Orange County">
            <option value="Pinellas County">
            <option value="Duval County">
            <option value="Lee County">
            <option value="Polk County">
            <option value="Brevard County">
            <option value="Volusia County">
            <option value="Pasco County">
            <option value="Seminole County">
            <option value="Sarasota County">
            <option value="Manatee County">
            <option value="Collier County">
            <option value="Osceola County">
            <option value="Marion County">
            <option value="Lake County">
            <option value="St.Lucie County">
            <option value="Escambia County">
            <option value="Leon County">
            <option value="Alachua County">
            <option value="St.Johns County">
            <option value="Clay County">
            <option value="Okaloosa County">
            <option value="Hernando County">
            <option value="Charlotte County">
            <option value="Bay County">
            <option value="Santa Rosa County">
            <option value="Martin County">
            <option value="Indian River County">
            <option value="Citrus County">
            <option value="Sumter County">
            <option value="Flagler County">
            <option value="Highlands County">
            <option value="Nassau County">
            <option value="Monroe County">
            <option value="Putnam County">
            <option value="Walton County">
            <option value="Columbia County">
            <option value="Jackson County">
            <option value="Gadsden County">
            <option value="Suwannee County">
            <option value="Okeechobee County">
            <option value="Hendry County">
            <option value="Levy County">
            <option value="De Soto County">
            <option value="Wakulla County">
            <option value="Baker County">
            <option value="Bradford County">
            <option value="Hardee County">
            <option value="Washington County">
            <option value="Taylor County">
            <option value="Holmes County">
            <option value="Madison County">
            <option value="Gilchrist County">
            <option value="Dixie County">
            <option value="Union County">
            <option value="Gulf County">
            <option value="Hamilton County">
            <option value="Calhoun County">
            <option value="Jefferson County">
            <option value="Glades County">
            <option value="Franklin County">
            <option value="Lafayette County">
            <option value="Liberty County">
          </datalist>
          <br/><br/>
          <p><label for="file" style="cursor: pointer;">Upload Image:</label></p>
          <p><input type="file"  accept="image/jpeg, image/png" name="image" id="file" onchange="loadFile(event)"/></p><br/><br/> <!-- input field for pictures -->
          <br/>
          <p><label style="cursor: pointer;">Add a tag:</label></p>
          <input class="tag" name="tag" id="tag" style="width: 100%"><br/><br/><br/>

          <p><input id="submit" type="submit" form="postForm" value="Submit"/></p> <!-- submit button for the information -->
          <br/>
          <br/>
          <br/>
          <br/>

        </form>
      </div>
    </div>

    <div class="main"><!-- non-sidebar -->
      <br/>
      <section>
        <figure class = "card">
          <div class = "card_hero">
            <img class="card_img" id="outputIMG" src="assets/redtide1.jpeg">
            <div class="card_middle">
              <p class="card_middle-text">Sarasota County</p>
            </div>
          </div>
          <div class = "card-content">
            <div class="card_info">
              <p class="card_details">Warmer temperatures tend to facilitate blooms of the microorganism that causes red tide,
                and so cooler winter temperatures have somewhat tempered the blooms, but they have not dissipated entirely.
                Although Gulf of Mexico water temperatures are in the mid to upper 60s Fahrenheit, red tide has not gone dormant.
                In the second week of January, there were still high concentrations of the red tide microorganism being reported in
                Manatee and Sarasota counties south of Tampa Bay. And red tide presence in those counties could be on the rise.
                So, while the fish kills may have been cleaned up, the coast is not clear. And we need to remain vigilant about what
                may be causing this red tide event to persist and its effects on communities and wildlife. </p>
            </div>
            <br/><br/><br/>
            <div class="card_buttons">
              <a href="#" class ="card_btn"> LIKE</a>
            </div>
          </div>
        </figure>
      </section>

      <br/>

      <section>
        <figure class = "card">
          <div class = "card_hero">
            <img class="card_img" id="outputIMG" src="assets/redtide2.jpeg">
            <div class="card_middle">
              <p class="card_middle-text">Palm Beach County</p>
            </div>
          </div>
          <div class = "card-content">
            <div class="card_info">
              <p class="card_details">The 2018 red tide event was massive in scale and scope of destruction.
                While things may have tapered off near Thanksgiving, the situation persists into 2019.
                Here are some facts and figures to recap the 2018 event and to prepare you for what lies ahead this year. </p>
            </div>
            <br/><br/><br/>
            <div class="card_buttons">
              <a href="#" class ="card_btn"> LIKE</a>
            </div>
          </div>
        </figure>
      </section>

      <br/>

      <br/>

      <section>
        <figure class = "card">
          <div class = "card_hero">
            <img class="card_img" id="outputIMG">
            <div class="card_middle">
              <p class="card_middle-text">County Placeholder</p>
            </div>
          </div>
          <div class = "card-content">
            <div class="card_info">
              <p class="card_details">This is the placeholder for example cards.
                This is the placeholder for example cards.
                This is the placeholder for example cards.
                This is the placeholder for example cards.
                This is the placeholder for example cards.
                This is the placeholder for example cards.
                This is the placeholder for example cards.
                This is the placeholder for example cards.<br/>
                This is the placeholder for example cards.
                This is the placeholder for example cards.
                This is the placeholder for example cards.
                This is the placeholder for example cards.<br/>
                This is the placeholder for example cards.
                This is the placeholder for example cards.
                This is the placeholder for example cards.
                This is the placeholder for example cards.
                This is the placeholder for example cards.
                This is the placeholder for example cards.
                This is the placeholder for example cards.
                This is the placeholder for example cards.
                This is the placeholder for example cards.</p>
            </div>
            <br/><br/><br/>
            <div class="card_buttons">
              <a href="#" class ="card_btn"> LIKE</a>
            </div>
          </div>
        </figure>
      </section>
    </div>
  </div>
</div>

</body>


