<!-- Uses a template to display every element from Twitter Data array
    Authors:
              Nisanur Genc - template
              Robert Kleszczynski - loop for twitter data and insertion of data into the correct places-->
<div *ngIf="getTwitterData()">
  <div *ngFor="let tweet of getTwitterData()"
       class="placeholderItem"
       style="height: fit-content;
              text-align: left;
              background-color: #F5F8FA;
              font-family: 'Helvetica Neue';">
    <div style="display: flex">
      <div style="width: 10%;">
        <!-- returns the profile image of the user -->
        <img style=" width: 50px; height: 50px; border-radius: 50%;" src="{{tweet.profile_image_url}}" alt="profile picture">
      </div>
      <div style="width: 80%;">
        <br/>
        <!-- returns the username of the user -->
        <strong> <p style="font-size: medium; width: 100%"> {{tweet.username}}: </p> </strong>
      </div>
    </div>
    <br/>
    <!-- returns the tweet content -->
      <div style="width: 100%">
        <p> {{tweet.text}}</p>
      </div>
    <div style="margin-bottom: 10px;">
      <!-- returns when the tweet was created -->
      <i><p> {{tweet.created_at}} </p></i>
    </div>
    <br/><br/>
  </div>
</div>
