<div *ngIf="getTwitterData()">
  <div *ngFor="let tweet of getTwitterData()">
    <div class = "p-1">
      <div class="profile-picture">
        <img src="{{tweet.profile_image_url}}" style="
              height:50px;
              border-radius: 50%;
              border: 5px
              solid #1DA1F2;">
        <i><p> {{tweet.created_at}} </p></i>
      </div>

      <h4 class = "user-name">{{tweet.username}}</h4>
      <p class ="tweet-data">{{tweet.text}}</p>
    </div>
  </div>
</div>

